body {
  font-family: 'Quicksand', sans-serif !important;
}

/* .LandingPage {
  text-align: center;
}

.App-link {
  color: #61dafb;
} */

.mainLogo {
  height: 40vmin;
  pointer-events: none;
  color: white !important;
  padding: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  /* .mainLogo {
    animation: App-logo-spin infinite 20s linear;
  } */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.chakra-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.mainDiv {
  /* background-color: tomato; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  gap: 40px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 10px;
}

.homeDiv {
  display: flex;
}

.bikeIcon {
  size: 30px;
}

.homeDiv ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* position: relative; */
  top: 0;
  right: 0;
}

.homeDiv li {
  font-size: 12pt;
  display: block;
  float: left;
  height: 90px;
  width: 145px;
  /*new*/
  text-align: center;
  /*new*/
  transition: all 0.2s ease-in-out;
}

.homeDiv li a {
  color: #eee;
  font-size: 18pt;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.homeDiv li i {
  color: black;
  padding: 0;
}

.homeDiv li b {
  color: black;
  padding: 0;
  display: none;
}

.homeDiv a:hover {
  color: #fff;
}

.homeDiv a:hover i {
  display: none;
}

.homeDiv a:hover b {
  display: block;
}

.box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  /* optional - feel free to remove it */
  /* height: 150px; */
  /* optional - feel free to remove it */
  position: relative;
  padding: 5px;
}

.box:before {
  content: "";
  position: absolute;
  border: 8px solid teal;

  top: -9%;
  bottom: -11%;
  left: -3%;
  right: -3%;
  z-index: -1;

  -webkit-transform: perspective(50em) rotateX(-40deg);
  transform: perspective(50em) rotateX(-40deg);
}

.logoTitle {
  font-size: 25px;
  font-weight: 900;
}

.iconWrapper {
  width: 100vw;
  display: flex;
  gap: 20px;
  padding: 25px
}

.iconWrapperBottom {
  width: 100vw;
  display: flex;
  gap: 20px;
  padding: 25px;
  /* position: absolute; */
  bottom: 0;
}

.icon {
  width: 65px;
  height: auto;
  animation: App-logo-spin infinite 15s linear;
}

body,
html,
#root,
.mainContainer {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpContainer {
  height: 90%;
}

.css-4ie1he {
  border-radius: 10px;
  margin: 10px;
}

.css-42b2qy {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.newpostDiv {
  display: flex;
  justify-content: center;
}

.css-14krt4p {
  background-color: white !important;
  border: none !important;

}

.css-tudk15 {
  background-color: white !important;
  border: none !important;
  border-radius: 10px !important;
}

.css-17mg6aq {
  border-radius: 10px !important;
  border: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.css-1utf2pa {
  border-radius: 10px !important;
}

.chakra-collapse {
  border-radius: 10px !important;
}

.css-6vk5hx {
  background-color: white !important;
}

.css-14q1bv1 {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  margin: 0 !important;
}

.css-ko8oj2 {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  margin: 0 !important;
}

.css-13zvu4r {
  background-color: white !important;
}

.footerBtnDiv {
  display: flex;
  justify-content: space-evenly !important;
  gap: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
  /* flex-direction: row; */
}

.css-1g8rhir {
  padding: 0 !important;
}

.css-1p39snt .css-98t6s6 .css-muq1u0 .css-1r76ihu {
  margin: 0 !important;
  padding: 0 !important;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  width: 100%
}

.chakra-button .css-1j4asgf {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5px;
}

.faXmark {
  margin-left: 8px;
}